*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

a{
    text-decoration: none;
    color: #df4949;
    display: inline-block;
}

ul, li{
    list-style: none;
}

body{
    color: #df4949;
}

/* Header */

.header{
    background-color: #0a0404;
    height: 90px;
    border-bottom: 3px solid #ff0000;
}

.container{
    margin: 0 10%;
}

.header__inner{
    padding: 25px 0;
    text-align: center;
}

.header__title{
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}

/* END Header */

/* About */

.about{
    background-color: #0a0404;
    border-bottom: 3px solid #ff0000;
}

.about__inner{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.about__info{
    width: 30%;
    border-top: 1px solid #ff0000;
    border-bottom: 1px solid #ff0000;
    background-color: #3f3e38;
}

.about__img{
    width: 100%;
    height: 23vw;
    border-bottom: 1px solid #ff0000;
}

.about__descr{
    padding: 20px 30px;
}

.about__descr__item{
    display: flex;
    margin-bottom: 10px;
}

.about__descr__item:last-child{
    margin-bottom: 0;
}

.about__descr__title{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    width: 50%;
}

.about__descr__info{
    width: 50%;
}

.about__educations{
    width: 60%;
}

.about__educations__title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about__educations__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-top: 1px solid #ff0000;
    border-bottom: 1px solid #ff0000;
    background-color: #3f3e38;
}

.about__educations__item:last-child{
    margin-bottom: 0;
}

.about__educations__foto{
    width: 15%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.about__educations__img{
    width: 100%;
    height: 7vw;
}

.about__educations__info{
    width: 85%;
    padding: 10px 1%;
}

.about__educations__info__title{
    font-size: 22px;
    font-weight: 700;
    line-height: 26x;
    margin-bottom: 10px;
}

.about__educations__info__title:hover{
    color: #ff0000;
    text-decoration: underline;
}

.about__educations__info__descr{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

/* END About */

/* Portfolio */

.portfolio{
    background-color: #0a0404;
    border-bottom: 3px solid #ff0000;
}

.portfolio__inner{
    padding: 30px 0;
}

.portfolio__title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.portfolio__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio__item{
    width: 30%;
    text-align: center;
    background-color: #3f3e38;
    border-top: 1px solid #ff0000;
    border-bottom: 1px solid #ff0000;
    margin-bottom: 4vw;
}

.portfolio__foto{
    width: 100%;
    height: 12vw;
}

.portfolio__img{
    width: 100%;
    height: 12vw;
    border-bottom: 1px solid #ff0000;
}

.portfolio__info{
    padding: 10px 10px;
}

.portfolio__name{
    font-size: 22px;
    font-weight: 700;
    line-height: 26x;
    margin-bottom: 10px;
}

.portfolio__name:hover{
    color: #ff0000;
    text-decoration: underline;
}

.porfolio__date{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

/* END Portfolio */

/* Footer */

.footer{
    background-color: #0a0404;
}

.footer__inner{
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
}

.footer__contact{
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.footer__contact:hover{
    color: #ff0000;
}

/* END Footer */

/* Adapt 1100px */

@media (max-width: 1100px){

    .container{
        margin: 0 5%;
    }

    .about__descr{
        padding: 20px 10px;
    }

}

/* END Adapt 1100px*/

/* Adapt 850px */

@media (max-width: 850px){

    .about__descr{
        padding: 20px 30px;
    }

    .about__descr__item{
        flex-direction: column;
    }

    .about__descr__title{
        width: 100%;
        margin-bottom: 5px;
    }
    
    .about__descr__info{
        width: 100%;
    }

}

/* END Adapt 850px*/

/* Adapt 700px */

@media (max-width: 700px){

    .about__inner{
        flex-direction: column;
        align-items: center;
    }
    
    .about__info{
        width: 100%;
        display: flex;
    }

    .about__img{
        width: 35%;
        height: 100%;
        border: none;
    }

    .about__descr{
        width: 65%;
    }

    .about__descr__item{
        flex-direction: row;
    }

    .about__descr__title{
        width: 50%;
        margin-bottom: 0;
    }
    
    .about__descr__info{
        width: 50%;
    }

    .about__educations{
        width: 100%;
        margin-top: 30px;
    }
    
    .about__educations__title{
        text-align: center;
    }

    .about__educations__img{
        height: 13vw;
    }

    .about__educations__info{
        padding: 10px 3%;
    }

    .portfolio__items{
        flex-direction: column;
    }

    .portfolio__item{
        width: 100%;
        margin-bottom: 4vw;
    }

    .portfolio__item:last-child{
        margin-bottom: 0;
    }

    .portfolio__img{
        height: 42vw;
    }

}

/* END Adapt 700px */

/* Adapt 550px */

@media (max-width: 550px){

    .header__title{
        font-size: 35px;
    }

}

/* END Adapt 550px */

/* Adapt 500px */

@media (max-width: 500px){

    .about__img{
        width: 50%;
        align-self: center;
    }

    .about__descr{
        width: 50%;
    }

    .about__descr__item{
        flex-direction: column;
    }

    .about__descr__title{
        width: 100%;
        margin-bottom: 5px;
    }
    
    .about__descr__info{
        width: 100%;
    }

}

/* END Adapt 500px */

/* Adapt 450px */

@media (max-width: 450px){

    .header__title{
        font-size: 30px;
    }

    .about__educations__info__title{
        font-size: 19px;
    }

}

/* END Adapt 450px */

/* Adapt 400px */

@media (max-width: 400px){

    .header__title{
        font-size: 25px;
    }

    .about__descr{
        padding: 20px 15px;
    }

    .about__educations__info__title{
        font-size: 18px;
    }

    .footer__inner{
        flex-direction: column;
        text-align: center;
    }

    .footer__contact{
        margin-bottom: 10px;
    }

    .footer__contact:last-child{
        margin-bottom: 0;
    }

}

/* END Adapt 400px */

/* Adapt 320px */

@media (max-width: 320px){

    .header__title{
        font-size: 23px;
    }

}

/* END Adapt 320px */