@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

*,
::before,
::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #040404;
}

.side{
  z-index: 2;
  position: absolute;
  width: 5vw;
  height: 100%;
  padding-bottom: 5vw;
  border-right: 1px solid #1e715d;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Jura', sans-serif;
}

.side__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  border-top: 1px solid #1e715d;
  background-color: transparent;
  transition: 0.4s;
}

.side__btn:last-child{
  border: none;
}

.side__btn:hover{
  background-color: #1e715d;
}

.side__icon i{
  font-size: 60px;
  line-height: 60px;
  color: #1e715d;
  transition: 0.4s;
}

.side__icon:hover i{
  color: #ffffff;
}

.verticalPage{
  padding-left: 5vw;
  padding-bottom: 5vw;
}

.main{
  display: flex;
  height: 100%;
  font-family: 'Jura', sans-serif;
}

.main__left{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__left__border{
  width: 50%;
  height: 60%;
  border: 1px solid #1e715d;
  position: relative;
  margin-bottom: 15%;
}

.main__left__border__img{
  position: absolute;
  z-index: 2;
  width: 88.5%;
  right: 0;
  bottom: -18.5%;
}

.main__left__border__box{
  position: absolute;
  right: -20%;
  bottom: 26%;
  width: 160%;
  height: 50%;
  background-color: #1e715d;
  transform: rotate(270deg);
  font-size: 140px;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.2);
  user-select: none;
}

.main__right{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__right__title{
  font-size: 64px;
  line-height: 76px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.main__right__text{
  font-size: 36px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  color: #1e715d;
  margin: 30px 0;
}

.main__right__btn{
  padding: 5x;
  border: 4px solid #1e715d;
  background-color: #1e715d;
  text-decoration: none;
}

.main__right__btn__box{
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 50px;
  color: #040404;
  border: 1px solid #040404;
  background-color: transparent;
  transition: 0.4s;
}

.main__right__btn:hover .main__right__btn__box{
  color: #ffffff;
  background-color: #040404;
}

.portfolio{
  display: flex;
  font-family: 'Jura', sans-serif;
  height: 100%;
}

.portfolio__item{
  width: 33.4%;
  position: relative;
  height: 100%;
  border: 1px solid #1e715d;
  transition: 0.4s;
}

.portfolio__item__title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px #000000;
  transition: 0.4s;
}

.portfolio__item:hover .portfolio__item__title{
  background-color: #1e715d;
}

.portfolio__item__img{
  width: 100%;
}

.portfolio__item__list{
  list-style: none;
  color: #ffffff;
  padding: 25px;
}

.portfolio__item__list__item{
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  margin-bottom: 18px;
}

.portfolio__item__list__item i{
  font-size: 16px;
  line-height: 19px;
}

.portfolio__item__btns{
  position: absolute;
  width: 100%;
  display: flex;
  left: 0;
  bottom: 0;
}

.portfolio__item__btn{
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  width: 50%;
  padding: 14px 0;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-top: 1px solid #1e715d;
  border-right: 1px solid #1e715d;
  transition: 0.4s;
}

.portfolio__item__btn:last-child{
  border-right: none;
}

.portfolio__item__btn:hover{
  background-color: #1e715d;
}

.skills{
  color: #1e715d;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 700px;
  font-family: 'Jura', sans-serif;
}

.contact{
  position: relative;
  display: flex;
  height: 100%;
  font-family: 'Jura', sans-serif;
}

.contact__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.4%;
  text-decoration: none;
  padding: 5% 0;
  border-right: 1px solid #1e715d;
  border-top: 1px solid #1e715d;
  transition: 0.4s;
}

.contact__item:nth-child(3){
  border-right: none;
}

.contact__item:hover{
  background-color: #1e715d;
}

.img__svg{
  width: 30%;
  height: 150px;
  fill: #1e715d;
  transition: 0.4s;
}

.contact__item:hover .img__svg{
  fill: #ffffff;
}

.contact__item__text{
  margin-top: 5%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.contact__form{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 65%;
  padding: 40px 80px;
  background-color: #040404;
  box-shadow: 0px 0px 10px #111111;
  font-family: 'Jura', sans-serif;
}

.contact__form__text{
  display: flex;
  justify-content: space-between;
}

.contact__form__item{
  width: 49%;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  padding: 10px;
  outline: none;
  background-color: transparent;
  border: 1px solid #1e715d;
  color: #ffffff;
  font-family: 'Jura', sans-serif;
}

.contact__form__item::-webkit-input-placeholder{
  font-family: 'Jura', sans-serif;
  color: rgba(255, 255, 255, 0.75);
}

.contact__form__area{
  display: block;
  margin-top: 2%;
  width: 100%;
  height: 20vh;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  padding: 10px;
  outline: none;
  resize: none;
  background-color: transparent;
  border: 1px solid #1e715d;
  color: #ffffff;
  font-family: 'Jura', sans-serif;
}

.contact__form__area::-webkit-input-placeholder{
  font-family: 'Jura', sans-serif;
  color: rgba(255, 255, 255, 0.75);
}

.contact__form__area::-webkit-scrollbar{
  background-color: #1e715d;
}

.contact__form__area::-webkit-scrollbar-track{
  background-color: #040404;
}

.contact__form__area::-webkit-scrollbar-thumb{
  background-color: #1e715d;
}

.contact__form__btn{
  margin-top: 2%;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  padding: 7px;
  outline: none;
  cursor: pointer;
  color: #040404;
  background-color: #1e715d;
  border: 1px solid #1e715d;
  transition: 0.4s;
  font-family: 'Jura', sans-serif;
}

.contact__form__btn:hover{
  color: #ffffff;
  background-color: transparent;
}

.footer,
#fp-nav.fp-right{
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  transform: none;
  bottom: 0;
  width: 100%;
  height: 5vw;
  border-top: 1px solid #1e715d;
  background-color: #040404;
  display: flex;
  justify-content: center;
  font-family: 'Jura', sans-serif;
}

.footer{
  width: 31.6%;
  margin-left: 5vw;
  z-index: 1000;
  background-color: transparent;
}

#fp-nav .footer{
  width: 100%;
}

#fp-nav ul li,
.footer__btn{
  margin: 0;
  height: 100%;
  width: 33.4%;
  border-right: 1px solid #1e715d;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  transition: 0.4s;
  position: relative;
}

.footer__btn{
  z-index: 5;
  width: 100%;
}

.footer__btn:hover{
  background-color: #1e715d;
}

#fp-nav ul li:first-child{
  width: 5.25%;
}

#fp-nav ul li:last-child{
  border-right: none;
}

.footer__btn:last-child{
  border: none;
}

.footer__btn a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  transition: 0.4s;
}

.footer__btn a:hover{
  background-color: #1e715d;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s;
}

#fp-nav ul li a{
  display: flex;
  z-index: 2;
}

.footer__btn a.active{
  background-color: #1e715d;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s;
}

.fp-controlArrow.fp-prev,
.fp-controlArrow.fp-next{
  display: none;
}

.footer__btn a .fp-controlArrow.fp-prev.visible,
.footer__btn .fp-controlArrow.fp-prev.visible{
  display: block;
  border-width: 1vw 1vw 1vw 0;
  border-color: transparent;
  transition: 0.4s;
  margin-top: 0;
  top: 50%;
  transform: translateY(-50%);
  left: 5vw;
  position: absolute;
}

.footer__btn a .fp-controlArrow.fp-next.visible,
.footer__btn .fp-controlArrow.fp-next.visible{
  display: block;
  border-width: 1vw 0 1vw 1vw;
  border-color: transparent;
  transition: 0.4s;
  margin-top: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 5vw;
  position: absolute;
}

.footer__btn a.active .fp-controlArrow.fp-prev.visible{
  border-color: transparent #ffffff transparent;
  z-index: 1;
}

.footer__btn a.active .fp-controlArrow.fp-next.visible{
  border-color: transparent #ffffff transparent;
  z-index: 1;
}

.footer__btn:hover .fp-controlArrow.fp-prev.visible,
.footer__btn:hover .fp-controlArrow.fp-next.visible{
  border-color: transparent #ffffff transparent;
}